.help{
  color: white;
}
.favicon{
    font-size: 3rem;
    text-align: center;
    color: #339af0;
    margin-top: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.middle{
  padding-top: 3rem;
  text-align: center;
}
.heading{
  font-family: cursive;

}
